<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindGuard AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">
        <h1>🧠 MindGuard AI</h1>
        <p>Your AI mental health companion</p>

        <form action="/analyze" method="post">
            <textarea name="text" placeholder="How are you feeling today?"></textarea>
            <button type="submit">Analyze</button>
        </form>
    </div>

</body>
</html>
